<!-- templates/home.html-->

  	<img src="/media/viajero_frecuente_title.png" width="auto" height="auto" title="Crea un viaje" alt="Viaje Nuevo" />
	<BR />


{% block content %}
{% if user.is_authenticated %}
  <BR />
	<img src="/media/home_button_agregar-tu-vehiculo.png" width="auto" height="auto" title="Crea un vehiculo" alt="Vehiculo Nuevo">
  <BR />
  <BR />
  	
    <form action="/ViajeroFrecuente/newvehicle" method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <input type="submit" value="Crear!">
	</form>
  
  <p><a href="{% url 'main' %}">Inicio</a>      
  <a href="{% url 'logout' %}">LogOut</a></p>  
{% else %}
  <p>No estas logueado.</p>
  <a href="{% url 'login' %}">LogIn</a>
{% endif %}
{% endblock %}